<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Przychodnia</title>

    <style>
        .header {
            background-color: darkkhaki;
        }
    </style>
</head>
<body>
<table>
    <thead class="header">
    <td>Imię</td>
    <td>Nazwisko</td>
    <td>Specjalizacja</td>
    <td>Pracuje od</td>
    <td>Stawka za h</td>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td><span th:text="${doctor.name}"></span></td>
        <td><span th:text="${doctor.surname}"></span></td>
        <td th:switch="${doctor.specialization}">
            <span th:case="KARD">kardiolog</span>
            <span th:case="GASTRO">gastrolog</span>
            <span th:case="ORT">ortopeda</span>
            <span th:case="*">inna</span>
        </td>
        <td><span th:text="${doctor.hireDate}"></span></td>
        <td th:if="${doctor.hourRate > 100}">
            <span style="color:red" th:text="${doctor.hourRate}"></span>
        </td>
        <td th:if="${doctor.hourRate <= 100}"><span th:text="${doctor.hourRate}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>