<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Przychodnia</title>

    <style>
        .header {
            background-color: darkkhaki;
        }
        .odd {
            background-color: darkolivegreen;
        }
        .even {
            background-color: coral;
        }
    </style>
</head>
<body>
    <table>
        <thead class="header">
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Nr ubezpieczenia</td>
        </thead>
        <tbody>
            <tr th:each="patient, iterStat : ${patients}" th:class="${iterStat.odd} ? 'odd' : 'even'">
                <td><span th:text="${patient.name}"></span></td>
                <td><span th:text="${patient.surname}"></span></td>
                <td th:if="${patient.insuranceNo != null}"><span th:text="${patient.insuranceNo}"></span></td>
                <td th:unless="${patient.insuranceNo != null}">Brak numeru!</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
